{% extends "base.html" %}
      
 {% block content %}

    <header class="masthead" id="about">
            <div class="overlay"></div>
            <div class="container">
              <div class="row">
                <div class=" col-md-8 col-md-10 mx-auto">
                  <div class="site-heading">
                    <!-- <h1 class=" site-heading my-2 mt-5"> An online platform that showcases various Touchdesigner tutorials </h3> -->
                  </div>
                </div>
              </div>
            </div>
    </header>

    <div class="landing-text">
      <h1 class=" about-heading my-2 mt-5"> About </h3>
    </div>
        
            <div class="container">
                <div class="row">
                  <div class="col-md-8 card mb-4  mt-3 left  top"></div>
                </div>
      
              <!-- Blog Entries Column -->
              <div class="col-md-8 mt-3 left">
                    {% for post in post_list %}
                {% endfor %}
              </div>
            
          </div>
{%endblock%}
