{% extends "base.html" %}
      
 {% block content %}

    <header class="masthead" id="about">
            <div class="overlay"></div>
            <div class="container">
              <div class="row">
                <div class=" col-md-8 col-md-10 mx-auto">
                  <div class="site-heading">
                    <!-- <h1 class=" site-heading my-2 mt-5"> An online platform that showcases various Touchdesigner tutorials </h3> -->
                  </div>
                </div>
              </div>
            </div>
    </header>

    <div class="landing-text">
      <h1 class=" about-heading my-2 mt-5"> About </h3>
    </div>
        
            <div class="container">
                <div class="row">
                  <div class="text-justify col-md-12 mb-4  mt-3 left  top">
                    Welcome to our website, a comprehensive online resource for those interested in TouchDesigner, a powerful node-based framework. Our website is designed to serve as a comprehensive learning resource, providing you with all the necessary tools and information you need to get started and grow your TouchDesigner skills.

Our website features a wealth of resources, including instructional videos, tutorials, and links to external websites. Whether you're a beginner just starting out, or an experienced TouchDesigner user looking to expand your knowledge, you'll find something of value here.

One of the key goals of our website is to help you learn and grow with TouchDesigner. We believe that this framework is a valuable tool for anyone interested in digital art and design, and we're passionate about helping you to get the most out of it. To this end, we've compiled a range of resources, including videos, tutorials, and articles, that cover all the key concepts and techniques you need to know.

We understand that learning TouchDesigner can be challenging, but with our website by your side, you'll have everything you need to make the most of this powerful framework. Our resources are designed to be accessible and easy to understand, so you can start building your skills right away. Whether you're looking to create stunning digital art, or simply want to learn more about TouchDesigner, we're here to help.

So if you're ready to start your TouchDesigner journey, or simply want to find out more about this amazing framework, look no further. Our website is your one-stop-shop for all things TouchDesigner, and we're committed to helping you grow your skills and reach your full potential. So why wait? Start exploring our resources today!
                  </div>
                </div>
              
            
          </div>
{%endblock%}
