{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="my-3">
        <h3 class="card-new-header">About this site</h5>
    <div class="side-body">
        <p class="card-text"> This blog consists of the the most informative TouchDesigner tips and tutorials which are helpful for creating a clearer learning timeline. Click the link below to visit the official Touchdesigner website where you can get the latest software versions to download.</p>
        <a href="https://derivative.ca/"
           class="btn btn-danger center-btn">Visit</a>
    </div>
</div>
</div>

{% endblock sidebar %}